@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@1,600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

span {
  font-family: "Pacifico", cursive;
  font-size: x-large;
}

span:hover,
li:hover {
  color: #d66070;
}

li {
  font-family: "Cabin", sans-serif;
}

.page-bg {
  background-image: url("https://res.cloudinary.com/doaazgsrk/image/upload/v1593536301/Beige/title_nbetk7.jpg");
  width: 80%;
  min-width: 30rem;
  height: 40rem;
  margin: 0 auto;
  margin-top: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  font-family: "Outfit", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  justify-content: space-between;
}

.rounded {
  border-radius: 0.25rem !important;
}

body {
  font-family: "Outfit", sans-serif;
  background-color: black;
}
