@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@1,600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

span {
  font-family: "Pacifico", cursive;
  font-size: x-large;
}

span:hover,
li:hover {
  color: #d66070;
}

li {
  font-family: "Cabin", sans-serif;
}

.backpack {
  background-image: url("https://www.munibags.com/uploads/202338313/ImgScroll/ba6d8cd78e-665f-4b7f-b8ef-250d4b499a9f.jpg?size=750x0");
}
